<div id="main-body">
    <%-include('left-aside');-%>
    <%-include('main');-%>
    <%-include('chatbox');-%>
    <%-include('right-aside');-%>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/JS/chat_engine.js"></script>

<% if(locals.localuser) { %>
    <script>
        new ChatEngine('chatbox-container','<%=locals.localuser.email%>');
    </script>
<% } %>